@import url("https://fonts.googleapis.com/css2?family=Onest:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Onest", sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

.init-border {
  border: solid 1px;
}

.hover-overlay:hover .overlay {
  display: block !important;
}

.q-pa-none.important {
  padding: 0 0 !important;
}

.logo {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  color: black;
  span {
    color: green;
  }
}

.q-btn {
  text-transform: capitalize;
}

.dash_swiper {
  .q-card {
    min-height: 250px;
    position: relative;
    .card_actions {
      position: absolute;
      bottom: 5%;
      right: 2%;
    }
    .text-h6 {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.3;
    }
    .card_section {
      font-size: 14px;
    }
  }
}

.q-page {
  padding: 1.5rem 1rem;
}

.q-calendar {
  margin-top: 2rem;
  .q-calendar-month__head--weekday {
    padding: 1rem;
  }
}

.q-drawer {
  .q-item.q-router-link--active,
  .q-item--active {
    background: rgb(188, 214, 188) !important;
  }
  .q-item__section--avatar {
    color: inherit;
    min-width: 6px;
  }
}

@media (max-width: 1100px) {
  // .q-drawer {
  //   max-width: 240px !important;
  // }

  // .q-page-container {
  //   padding-left: 240px !important;
  // }
  .dash_swiper {
    .q-card {
      min-height: 300px;
      position: relative;
      .card_actions {
        position: absolute;
        bottom: 5%;
        right: 2%;
        width: 100%;
        flex-wrap: nowrap;

        .q-btn {
          padding: 5px;
          min-height: auto;
          .on-left {
            margin-right: 5px;
          }
        }
      }
      .text-h6 {
        font-size: 16px;
      }
      .card_section {
        font-size: 13px;
      }
    }
  }
}
@media (max-width: 1000px) {
  .bg-image {
    .q-card {
      width: 70% !important;
    }
  }
}
@media (max-width: 500px) {
  .map_row {
    div.col-md-6 {
      width: 100%;
    }
  }
  .q-page {
    padding: 1.5rem 0.5rem;
  }
  .bg-image {
    .q-card {
      width: 95% !important;
    }
  }

  .text-h6 {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 0.4rem;
  }
}
